# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspaces
go.work
go.work.sum

# Env files
.env
.env.*

# Compiled binary
killport
